[submodule "training/NFC2Serial"]
	path = training/NFC2Serial
	url = https://github.com/jens-a-e/NFC2Serial.git
[submodule "training/GroveNFC-Tag"]
	path = training/GroveNFC-Tag
	url = https://github.com/jens-a-e/GroveNFC-Tag.git
[submodule "explorations/LoRa/LoraSendAndReceive_TTN_OpenDoTT_Test"]
	path = explorations/LoRa/LoraSendAndReceive_TTN_OpenDoTT_Test
	url = https://github.com/jens-a-e/LoraSendAndReceive_TTN_OpenDoTT_Test.git
[submodule "training/nodered-opendott-training"]
	path = training/nodered-opendott-training
	url = https://github.com/jens-a-e/nodered-opendott-training.git
