# Some default folder which should not be tracked with Git
**/node_modules
**/.vscode
# Build artifacts
*.zip
!docs/*.zip
# Temp Word files
~*.docx
*.docx
!docs/*.docx
*.pdf
!docs/*.pdf
index.html
!docs/index.html
